.wallet {
  margin: 100px auto;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0px 8px 20px 6px rgb(255, 178, 22);
  height: 250px;
  width: 70%;
  padding: 20px;
}

.form-control {
  border: none;
  border-bottom: 1px solid black;
}

.form-control:focus {
  box-shadow: inset 0 -1px 0;
  outline: none;
  border-bottom: 2px solid aquamarine;
}

input.form-control:hover {
  border-bottom: 2px solid aquamarine;
}
