<div class="services">
    <div class="mb-3">
        <button class="btn btn-warning w-100 mb-4 d-flex justify-content-between" data-toggle="collapse"
            href="#PacksSubscription" role="button" aria-expanded="false" aria-controls="PacksSubscription"
            (click)="fetchDTHServices('Packs')">Packs
            <span class="arrow down mt-1"></span>
        </button>

        <div class="collapse multi-collapse" id="PacksSubscription">
            <div class="row">
                <ng-container *ngFor="let item of dth.packs">
                    <div class="card card-body col-12 col-md-6">
                        <app-dth-card [data]='item' [type]='"Packs"' [drawerId]="'Packs' + item.id"
                            (serviceSubcription)='subcribeToService($event)'>
                        </app-dth-card>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <button class="btn btn-secondary w-100 mb-4 d-flex justify-content-between" type="button" data-toggle="collapse"
            data-target="#ChannelsSubscription" aria-expanded="false" aria-controls="ChannelsSubscription"
            (click)="fetchDTHServices('Channels')">Channels
            <span class="arrow down mt-1"></span>
        </button>

        <div class="collapse multi-collapse" id="ChannelsSubscription">
            <div class="row justify-content-md-around">
                <ng-container *ngFor="let item of dth.channels">
                    <div class="col-12 col-md-5 card card-body">
                        <app-dth-card [data]='item' [type]='"Channels"' [drawerId]="'Channels' + item.id"
                            (serviceSubcription)='subcribeToService($event)'>
                        </app-dth-card>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>


    <div class="mb-3">
        <button class="btn btn-success w-100 mb-4 d-flex justify-content-between" type="button" data-toggle="collapse"
            data-target="#ServiceSubscription" aria-expanded="false" aria-controls="ServiceSubscription"
            (click)="fetchDTHServices('Services')">Services
            <span class="arrow down mt-1"></span>
        </button>

        <div class="collapse multi-collapse" id="ServiceSubscription">
            <div class="row justify-content-md-between">
                <ng-container *ngFor="let item of dth.services">
                    <div class="col-12 col-md-5 card card-body">
                        <app-dth-card [data]='item' [type]='"Services"' [drawerId]="'Services' + item.id"
                            (serviceSubcription)='subcribeToService($event)'>
                        </app-dth-card>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

</div>