<div class="user-details" *ngIf="showUpdateTemplate">
  <h4 class="user-title">User Details</h4>

  <div>
    <form [formGroup]="UpdateUserForm">

      <div class="form-group">
        <input type="text" class="form-control" formControlName="FirstName" placeholder="First Name" required="required"
          maxlength="20">
        <div *ngIf="(FirstName.touched || FirstName.dirty) && FirstName.errors">
          <label class="validation-message">This field is required.</label>
        </div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" formControlName="LastName" placeholder="Last Name" required="required"
          maxlength="20">
        <div *ngIf="(LastName.touched || LastName.dirty) && LastName.errors">
          <label class="validation-message">This field is required.</label>
        </div>
      </div>


      <div class="form-group">
        <input type="text" class="form-control" formControlName="Email" placeholder="Email Address" required="required">
        <div *ngIf="(Email.touched || Email.dirty) && Email.errors">
          <label *ngIf="Email.errors.required" class="validation-message">This field is required.</label>
          <label *ngIf="Email.errors.pattern" class="validation-message">Invalid email address.</label>
        </div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" formControlName="Phone" placeholder="Phone Number" required="required">
        <div *ngIf="(Phone.touched || Phone.dirty) && Phone.errors">
          <label *ngIf="Phone.errors.required" class="validation-message">This field is required.</label>
          <label *ngIf="Phone.errors.pattern" class="validation-message">Invalid Phone Number address.</label>
        </div>
      </div>


    </form>
  </div>

  <div class="d-flex w-100">
    <div class="w-50">
      <button type="button" (click)="onSubmit()" class="btn btn-success">
        Update
      </button>

    </div>
    <div class="w-50 text-right">
      <button type="button" class="btn btn-danger" (click)='navigateBack()'>Close</button>
    </div>
  </div>
</div>