/* You can add global styles to this file, and also import other style files */
.login,
.userprofile,
.admin {
  width: 70%;
  margin: auto;
  margin-top: 20%;
  background-color: rgba($color: #ffffff, $alpha: 0.8);
  padding: 20px;
  border-radius: 5px;
}

@media (min-width:780px) {

  .login,
  .userprofile,
  .admin {
    margin-top: 10%;
    width: 50%;
    padding: 30px;
  }
}

.validation-message {
  color: red;
  font-size: 12px;
  margin-left: 12px;
}


body {
  background-image: url('./assets/d2h.png');
  background-repeat: no-repeat;
  background-size: auto;
}

.user-details,
.services {
  padding: 20px;
  width: 60%;
  margin: auto;
  background-color: white;
}

@media (min-width:768px) {
  .dropdown-menu {
    left: initial !important;
    right: 20px;
  }
}

@media (max-width:767px) {

  .user-details,
  .services {
    width: 90%;
  }

  .dropdown-menu {
    left: 0;
    right: initial;
  }

}
